@charset "utf-8";
/* CSS Document */

body{
	padding: 0;
	margin: 0;
	background-image: url("Bakgrund.webp");
	background-size: cover;
}

.header{
	width:100%;
	height:500px;
}

.headerimg{
	padding: 15px;
}

.balls{
	width:100%;
	height:800px;
	display:flex;
	justify-content: space-evenly;
}

